@tailwind base;
@tailwind components;
@tailwind utilities;

.middle-form{
    transform: translate(-50%, -50%);
}
.scroll-container::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}

/* Concept Learning Section css */
.section {
    border: 2px solid black;
    padding: 10px;
}
.fancy{
    border-color: red;
}

/*  */